html {
    overflow-y: hidden;
}

html body {
    background-color: white;
    margin: 0px;
}

#main-wrapper {
    opacity: 0;
    transition: ease 2s opacity;
    position: relative;
    background-size: cover;
    background-position: bottom;
}

.page {
    /* box-sizing: border-box; */
    height: 100vh;
    width: 100vw;
}

#image-form {
    display: block;
    margin: auto;
    border-radius: 6px;
}

#page1 {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-align: center;
    font-family: "pt sans reg";
    opacity: 0;
    transition: ease 1s opacity;
}

#page1 .container {
    align-content: center;
    border-radius: 6px;
    /* background: url('../images/ezgif.com-optimize.gif'); */
    background-color: rgba(0, 0, 0, 0.4);
}

#page1 h1 {
    font-size: max(12vw, 90px);
    font-family: "Lato ExtraBold"
}

#page1 img {
    /* min-height: 50px; */
    height: 100px;
    width: 100px;
    max-height: 200px;
    border-radius: 10px;
}

#camera-gif-figure {
    position: absolute;
    z-index: -100;
    opacity: 0;
    width: 100vw;
    /* transition: ease 0.3s opacity; */
    /* height: 300px; */
}

#camera-gif {
    position: relative;
    transition: ease 0.4s opacity;
    bottom: 0px;
    width: 30vw;
    max-width: 300px;
}

/* @media (max-width:700px) {
    #page1 h1 {
        font-size: 70px;
    }
}

@media (max-width:600px) {
    #page1 h1 {
        font-size: 50px;
    }
    #page1 h3 {
        font-size: 20px;
    }
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--FONTS--*/

@font-face {
    font-family: "pt sans reg";
    src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato ExtraBold";
    src: url("../fonts/Lato/Lato-Black.ttf");
}
